.container {
  display: flex;

  @include screen-sm {
    display: block;
  }
}

.weather-details {
  // flex: 2;
  max-width: 950px;
  // width: 68%;
  margin: 0 auto;

  @include screen-lg {
    flex: 3;
    padding-left: 2rem;
    padding-right: 2rem;
    // max-width: 100%;
  }
  // &__container {
  //   max-width: 96%;
  // }
}
