.weather-details {
  &__forecasts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2.6rem;
    row-gap: 2.6rem;
    margin-bottom: 7rem;

    @include screen-lg {
      grid-template-columns: repeat(4, 1fr);
    }

    @include screen-md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include screen-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__forecast {
    background: $background-light;
    padding: 1.8rem 0;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__forecast-day {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__forecast-image {
    width: 56px;
    height: auto;
    margin-bottom: 3rem;
    display: block;
  }

  &__forecast-value {
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 1rem;
  }

  &__forecast-value--min {
    color: $secondary-text;
  }

  &__forecast-value:last-child {
    margin-right: 0;
  }
}
