/* Colors */
$primary-text: #e7e7eb;
$secondary-text: #a09fb1;
$dark-text: #100e3c;
$background: #100e1d;
$background-light: #1e213a;
$btn-background: #6e707a;
$yellow: #ffec65;
$purple: #585676;
$gray: #616475;

/* Typography */
$app-font-family: "Raleway", monospace;

/* Layout */
$width: 944px;

/* Media Query Breakpoints */
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 576px;
